.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .container {
  margin: 5rem;
  text-align: center;
} */
/* .signup-container {
  width: 40%;
  margin-top: 5rem;
  line-height: 2rem;
} */

.form-container {
  width: 50%;
  margin-left: 20%;
  margin-top: 5%;
  padding-left: 15%;
  background-color:#fff;
  padding:20px;
}
.form-background {
  background-color:#fff;
  margin-top:25px;
  padding:20px;
}

.btn-placement {
  margin: 5% 0 0 35%;
}
button {
  height: 2.3rem;
  width: 6rem;
  font-size: larger;
  margin: 0 2rem;
}
input {
  background: #e1e3e3 !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  button.btn-placement {
    margin: 5%;
    top: 5rem;
    position: relative;
    left: 5%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  button.btn-placement {
    margin: 5%;
    top: 5rem;
    position: relative;
    left: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  button.btn-placement {
    margin: 5%;
    top: 5rem;
    position: relative;
    left: 25%;
  }
}

/* Profile section CSS*/
.emp-profile{
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: #fff;
}
.profile-img{
  text-align: center;
}
.profile-logo {
  transform: rotate(270deg)
}
.profile-img img{
  width: 90%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  width: 67%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}