.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .container {
  margin: 5rem;
  text-align: center;
} */
/* .signup-container {
  width: 40%;
  margin-top: 5rem;
  line-height: 2rem;
} */

.btn-placement {
  margin: 5% 35%;
}
button {
  height: 2.3rem;
  width: 6rem;
  font-size: larger;
  margin: 0 2rem;
}
input {
  background: #e1e3e3 !important;
}
.main-txt {
  color: #e1e3e3;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 480px) {
  button.btn-placement {
    margin: 5%;
    top: 5rem;
    position: relative;
    left: 5%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  button.btn-placement {
    margin: 5%;
    top: 5rem;
    position: relative;
    left: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  button.btn-placement {
    margin: 5%;
    top: 5rem;
    position: relative;
    left: 25%;
  }
}